In [12]:
import pandas as pd
import numpy as np
import researchpy as rp

In [18]:
experiment_data = {
    "CPU": np.repeat([4000,400], 12),
    "Memory": [*np.repeat(4000, 6), *np.repeat(500, 6), *np.repeat(4000, 6), *np.repeat(500, 6)],
    "DataParallelism": np.r_[
            np.repeat([3, 1], 3),
            np.repeat([3, 1], 3),
            np.repeat([3, 1], 3),
            np.repeat([3, 1], 3),
        ],
    "ResponseTime": [55, 56, 57, 97, 99, 99, 62, 59, 62, 103, 100, 98, 490, 459, 451, 900, 907, 902, 472, 465, 452, 962, 954, 943]
}

df = pd.DataFrame(experiment_data)
df

     CPU  Memory  DataParallelism  ResponseTime
0   4000    4000                3            55
1   4000    4000                3            56
2   4000    4000                3            57
3   4000    4000                1            97
4   4000    4000                1            99
5   4000    4000                1            99
6   4000     500                3            62
7   4000     500                3            59
8   4000     500                3            62
9   4000     500                1           103
10  4000     500                1           100
11  4000     500                1            98
12   400    4000                3           490
13   400    4000                3           459
14   400    4000                3           451
15   400    4000                1           900
16   400    4000                1           907
17   400    4000                1           902
18   400     500                3           472
19   400     500                3           465
20   400     500                3           452
21   400     500                1           962
22   400     500                1           954
23   400     500                1           943

In [21]:
# create anova table
m = rp.anova("ResponseTime ~ C(CPU) + C(Memory) + C(DataParallelism) + C(CPU):C(Memory) + C(CPU):C(DataParallelism) + C(DataParallelism):C(Memory) + C(DataParallelism):C(Memory):C(CPU)", 
             data = df, sum_of_squares = 3)

desc, table = m.results()
print(desc,table, sep = "\n"*2)

 Note: Effect size values for factors are partial.


                        0
Number of obs =   24.0000
Root MSE =         8.9652
R-squared =        0.9996
Adj R-squared =    0.9994

                        Source Sum of Squares Degrees of Freedom Mean Squares  \
0                        Model   2940223.3333                  7  420031.9048
1
2                          CPU      2287837.5                1.0    2287837.5
3                       Memory      1066.6667                1.0    1066.6667
4              DataParallelism       381024.0                1.0     381024.0
5                   CPU:Memory       580.1667                1.0     580.1667
6          CPU:DataParallelism    267548.1667                1.0  267548.1667
7       DataParallelism:Memory       962.6667                1.0     962.6667
8   DataParallelism:Memory:CPU      1204.1667                1.0    1204.1667
9
10                    Residual         1286.0                 16       80.375
11                       Total   2941509.3333                 23  127891.7101

       F value p-value Eta squared Epsilon squared Omega squared
0    5225.9024     0.0      0.9996          0.9994        0.9993
1
2   28464.5412     0.0      0.9994          0.4375        0.9992
3      13.2711  0.0022      0.4534          0.0003        0.3383
4    4740.5785     0.0      0.9966          0.1147         0.995
5       7.2182  0.0162      0.3109          0.0002        0.2058
6    3328.7486     0.0      0.9952          0.0833        0.9928
7      11.9772  0.0032      0.4281          0.0003        0.3138
8      14.9819  0.0014      0.4836          0.0004        0.3681
9
10
11

In [22]:
m.regression_table()

,ResponseTime,Coef.,Std. Err.,t,p-value,95% Conf. Interval
0,Intercept,953.0,5.1761,184.1166,0.0,"[942.0272, 963.9728]"
1,CPU,,,,,
2,400,(reference),,,,
3,4000,-852.6667,7.3201,-116.4835,0.0,"[-868.1845, -837.1488]"
4,Memory,,,,,
5,500,(reference),,,,
6,4000,-50.0,7.3201,-6.8305,0.0,"[-65.5178, -34.4822]"
7,DataParallelism,,,,,
8,1,(reference),,,,
9,3,-490.0,7.3201,-66.9393,0.0,"[-505.5178, -474.4822]"
10,CPU:Memory,,,,,
14,4000:4000,48.0,10.3521,4.6367,0.0003,"[26.0545, 69.9455]"
15,CPU:DataParallelism,,,,,
19,4000:3,450.6667,10.3521,43.5337,0.0,"[428.7211, 472.6122]"
20,DataParallelism:Memory,,,,,
24,3:4000,53.6667,10.3521,5.1841,0.0001,"[31.7211, 75.6122]"
25,DataParallelism:Memory:CPU,,,,,
33,3:4000:4000,-56.6667,14.6401,-3.8706,0.0014,"[-87.7024, -25.631]"